*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    align-items: flex-end;
}

.container{
    width: 100%;
    height: 100%;
    background: rgb(56, 56, 56);
    background: radial-gradient(circle, rgba(53, 53, 53, 0.938) 8%, rgb(54, 54, 54) 100%);
}
#box-1 {
    border: 5px solid #000000;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(0,0,0);
    width: 76.3%;
    height: 0.80%;
    left: 0.5%;
    top: 0.88%;
    position: relative;
}
.banner{
    width: 60%;
    height: 4%;
    top: 2%;
    left: 10px;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.app-text{
    width: 50%;
    float: left;
    z-index: 1;
}
.app-text h2{
    font-size: 190%;
    width: 300%;
    height: 2.5%;
    margin-left: 0px;
    z-index: 1;
}
.app-picture{
    width: 50%;
    top: 0%;
    left: 10px;
    position: absolute;
}
.box-picture{
    width: 100%;
    position: relative;
    
    
}
.app-picture img{
    width: 100%;
    
}
.app-picture h3{
    font-size: 15px;
    position: relative;
    color: rgba(255, 255, 255, 0.897)
}
.app-photos{
    width: 30%;
    left: 45%;
    margin-top: 4%;
    position: relative;
}
#box-2 {
    border: 5px solid #000000;
    border-radius: 5px 5px 5px 5px;
    width: 60%;
    left: 110%;
    margin-top: 20%;
    position: absolute;
}
.app-photos img{
    width: 100%;
}
.footer{
    position: absolute;
    width: 100%;
    background: #3586ff;
    min-height: 40px;
    padding: 10px 30px;
}
.footer p{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Cursive;
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    font-weight: bold;
    margin-left: 15%;
}
.footer .seguicifooter{
    text-align: right;
    margin-top: -30px;
    margin-bottom: 0px;
    font-family: Cursive;
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    font-weight: bold;
    margin-right: 300px;
    display: none;
}
.footer .githubcat{
    left: 87.5%;
    top: 24%;
    position: absolute;
    display: flex;
    opacity: .8;
}
.footer .githublogo{
    left: 84.6%;
    top: 32.4%;
    position: absolute;
    display: flex;
    opacity: 0.8;
}
.footer .wave{
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height:50px;
    background: url(./images/wave.png);
    background-size: 1000px 55px;

}
.footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
.footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;

}
.footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
.footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;

}
@keyframes animateWave{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

@media screen and (min-width: 320px) and (max-width: 350px) {
    .banner{
        width: 60%;
        height: 4%;
        top: 2%;
        left: 10px;
        position: absolute;
        color: rgb(255, 255, 255);
        z-index: 1;
    }
    .app-text h2{
        font-size: 70%;
        width: 300%;
        height: 2.5%;
        margin-left: 0px;
        z-index: 1;
        display: flex;
    }
    .app-picture{
        width: 50%;
        top: 0%;
        left: 10px;
        position: absolute;
    }
    .app-picture img{
        width: 187%;
        
    }
    .app-picture h3{
        font-size: 10px;
        position: relative;
        color: rgba(255, 255, 255, 0.897)
    }
    #box-2 {
        border: 5px solid #000000;
        border-radius: 5px 5px 5px 5px;
        width: 120%;
        left: -35%;
        margin-top: 0%;
        position: absolute;
        display: none;
    }
    .app-photos .box-hide .img3{
        width: 140%;
        top: 880%;
        left: -140%;
        position: absolute;
        border-radius: 5%;
        display: flex;
    }
    .app-photos .box-hide .img4{
        width: 100%;
        top: 880%;
        left: 72%;
        position: absolute;
        border-radius: 5%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
    .banner{
        width: 60%;
        height: 4%;
        top: 2%;
        left: 10px;
        position: absolute;
        color: rgb(255, 255, 255);
        z-index: 1;
    }
    .app-text h2{
        font-size: 70%;
        width: 300%;
        height: 2.5%;
        margin-left: 0px;
        z-index: 1;
        display: flex;
    }
    .app-picture{
        width: 50%;
        top: 0%;
        left: 10px;
        position: absolute;
    }
    .app-picture img{
        width: 188%;
        
    }
    .app-picture h3{
        font-size: 10px;
        position: relative;
        color: rgba(255, 255, 255, 0.897)
    }
    #box-2 {
        border: 5px solid #000000;
        border-radius: 5px 5px 5px 5px;
        width: 120%;
        left: -35%;
        margin-top: 0%;
        position: absolute;
        display: none;
    }
    .app-photos .box-hide .img3{
        width: 140%;
        top: 1000%;
        left: -140%;
        position: absolute;
        border-radius: 5%;
        display: flex;
    }
    .app-photos .box-hide .img4{
        width: 100%;
        top: 1000%;
        left: 72%;
        position: absolute;
        border-radius: 5%;
        display: flex;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .banner{
        width: 60%;
        height: 4%;
        top: 2%;
        left: 10px;
        position: absolute;
        color: rgb(255, 255, 255);
        z-index: 1;
    }
    .app-text h2{
        font-size: 70%;
        width: 300%;
        height: 2.5%;
        margin-left: 0px;
        z-index: 1;
        display: flex;
    }
    .app-picture{
        width: 50%;
        top: 0%;
        left: 10px;
        position: absolute;
    }
    .app-picture img{
        width: 188%;
        
    }
    .app-picture h3{
        font-size: 10px;
        position: relative;
        color: rgba(255, 255, 255, 0.897)
    }
    #box-2 {
        border: 5px solid #000000;
        border-radius: 5px 5px 5px 5px;
        width: 120%;
        left: -35%;
        margin-top: 0%;
        position: absolute;
        display: none;
    }
    .app-photos .box-hide .img3{
        width: 165%;
        top: 1300%;
        left: -140%;
        position: absolute;
        border-radius: 5%;
        display: flex;
    }
    .app-photos .box-hide .img4{
        width: 100%;
        top: 1300%;
        left: 72%;
        position: absolute;
        border-radius: 5%;
        display: flex;
    }
}

@media only screen and (min-width: 480px) {
    .app-photos .box-hide{
        display: none;
        z-index: -1;
    }
    .app-photos .box-hide{
        display: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 840px) {
    .banner{
        width: 60%;
        height: 4%;
        top: 2%;
        left: 10px;
        position: absolute;
        color: rgb(255, 255, 255);
        z-index: 1;
    }
    .app-text h2{
        font-size: 100%;
        width: 300%;
        height: 2.5%;
        margin-left: 0px;
        z-index: 1;
        display: flex;
    }
}


@media only screen and (min-width: 1024px) {
    #box-2 {
        border: 5px solid #000000;
        border-radius: 5px 5px 5px 5px;
        width: 60%;
        left: 110%;
        transform: translateY(-3px);
        position: absolute;
    }
}
@media only screen and (min-width: 1130px) {
    #box-2 {
        border: 5px solid #000000;
        border-radius: 5px 5px 5px 5px;
        width: 55%;
        left: 110%;
        transform: translateY(-10px);
        position: absolute;
    }
    @media only screen and (min-width: 1800px) {
        #box-2 {
            border: 5px solid #000000;
            border-radius: 5px 5px 5px 5px;
            width: 55%;
            left: 110%;
            transform: translateY(-50px);
            position: absolute;
        }
}
}
@media only screen and (min-width: 768px) {
    #box-1 {
        z-index: -1;
    }
}

@media only screen and (max-width: 1750px) {
    .footer .githublogo{
        left: 83.5%;
        top: 32.4%;
        position: absolute;
        display: none;
    }
}
